<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="adminMapper">
	
	<resultMap type="member" id="memberResultSet">
		<result column="member_no" property="memberNo" />
		<result column="email" property="email" />
		<result column="member_pwd" property="memberPwd" />
		<result column="nickname" property="nickname" />
		<result column="member_name" property="memberName" />
		<result column="birthday" property="birthday" />
		<result column="phone" property="phone" />
		<result column="bank" property="bank" />
		<result column="account" property="account" />
		<result column="address" property="address" />
		<result column="enroll_date" property="enrollDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="status" property="status" />
	</resultMap>
	
	<resultMap type="coupon" id="couponResultSet">
		<result column="COUPON_NO"   property="couponNo"/>
		<result column="COUPON_NAME" property="couponName"/>
		<result column="COUPON_TYPE" property="couponType"/>
		<result column="DISCOUNT" 	 property="discount"/>
		<result column="START_DATE"  property="startDate"/>
		<result column="END_DATE" 	 property="endDate"/>
		<result column="MAX_PRICE"   property="maxPrice"/>
		<result column="MIN_PRICE"   property="minPrice"/>
	</resultMap>
	
	<select id="memberListCount" resultType="_int">
		select
			   count(*)
		  from
		       member
	</select>
	
	<select id="memberList" resultMap="memberResultSet">
	select
	       member_no
	      ,member_name
	      ,nickname
	      ,phone
	      ,address
	      ,to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"       
	      ,decode(status,'Y','활동','N','탈퇴','B','블랙') "status"
	  from
	       member
	 order
	    by 
	       member_no 
	</select>
	
	<insert id="insertCoupon" parameterType="coupon">
		INSERT INTO COUPON
		VALUES
		(
		SEQ_CNO.nextval, 
		#{couponName}, 
		#{couponType},
		#{discount}, 
		TO_DATE(#{startDate}, 'YYYY-MM-DD HH24:mi'),
		TO_DATE(#{endDate}, 'YYYY-MM-DD HH24:mi'),
		#{maxPrice}, 
		#{maxPrice}
		)
		
	</insert>
	
	<select id="memberSearchCount" parameterType="map" resultType="_int">
		select
			   count(*)
		  from
		       member
		 where
		       <if test="searchType == 'memberName'">
	                member_name like '%' || #{keyword} || '%'
	            </if>
	            <if test="searchType == 'memberNo'">
	                member_no = #{keyword}
	            </if>
	            <if test="searchType == 'status'">
	                status = #{keyword}
	            </if>      
	</select>
	
	<select id="memberSearch" parameterType="map" resultMap="memberResultSet">
	  select
            member_no
		   ,member_name
		   ,nickname
		   ,phone
		   ,address
		   ,to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"       
		   ,decode(status,'Y','활동','N','탈퇴','B','블랙') "status"
        from
            member
        where
            <if test="searchType == 'memberName'">
                member_name like '%' || #{keyword} || '%'
            </if>
            <if test="searchType == 'memberNo'">
                member_no = #{keyword}
            </if>
            <if test="searchType == 'status'">
                status = #{keyword}
            </if>
	</select>
	<select id="adminCouponListCount" resultType="_int">
		select 
				count(*)
		  from 
		  		coupon
	</select>
	
	<select id="adminCouponList" resultMap="couponResultSet">
		SELECT 
		        COUPON_NO,
		        COUPON_NAME,
		        COUPON_TYPE,
		        DISCOUNT,
		        TO_CHAR(START_DATE, 'YYYY-MM-DD') START_DATE,
		        TO_CHAR(END_DATE, 'YYYY-MM-DD') END_DATE,
		        MAX_PRICE,
		        MIN_PRICE
		  FROM 
		        COUPON
		  ORDER
		    BY
		        START_DATE DESC
	</select>
	
	<select id="salesCheck" resultType="_int">
	 <![CDATA[
    SELECT SUM(PRODUCT_PRICE) 
    FROM (
      SELECT
        AMOUNT * PRODUCT_PRICE PRODUCT_PRICE1,
        CASE
          WHEN PR.COUPON_NO != 0 AND C.COUPON_TYPE = 1
            THEN AMOUNT * PRODUCT_PRICE - POINT - C.DISCOUNT
          WHEN PR.COUPON_NO != 0 AND C.COUPON_TYPE = 2
            THEN AMOUNT * PRODUCT_PRICE * ((100 - C.DISCOUNT) / 100) - POINT
          ELSE AMOUNT * PRODUCT_PRICE - POINT
        END PRODUCT_PRICE,
        PR.RECEIPT_NO,
        PR.MEMBER_NO,
        RECEIPT_DATE,
        NVL(PR.COUPON_NO, 0) COUPON_NO,
        NVL(POINT, 0) POINT,
        SHIPPING_NO
      FROM
        PRODUCT_BRIDGE PB
        JOIN (
          SELECT
            RECEIPT_NO,
            MEMBER_NO,
            RECEIPT_DATE,
            NVL(COUPON_NO, 0) COUPON_NO,
            NVL(POINT, 0) POINT,
            SHIPPING_NO
          FROM
            PRODUCT_RECEIPT
        ) PR ON (pb.receipt_no = PR.receipt_no)
        JOIN PRODUCT P ON (P.PRODUCT_NO = PB.PRODUCT_NO)
        LEFT JOIN COUPON C ON (C.COUPON_NO = PR.COUPON_NO)
      AND RECEIPT_DATE BETWEEN TRUNC(SYSDATE, 'MM') AND LAST_DAY(TRUNC(SYSDATE))
    )
  ]]>
	</select>
	
	
	
	
</mapper>