<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="adminMapper">
	
	<resultMap type="member" id="memberResultSet">
		<result column="member_no" property="memberNo" />
		<result column="email" property="email" />
		<result column="member_pwd" property="memberPwd" />
		<result column="nickname" property="nickname" />
		<result column="member_name" property="memberName" />
		<result column="birthday" property="birthday" />
		<result column="phone" property="phone" />
		<result column="bank" property="bank" />
		<result column="account" property="account" />
		<result column="address" property="address" />
		<result column="enroll_date" property="enrollDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="status" property="status" />
	</resultMap>
	
	<resultMap type="coupon" id="couponResultSet">
		<result column="COUPON_NO"   property="couponNo"/>
		<result column="COUPON_NAME" property="couponName"/>
		<result column="COUPON_TYPE" property="couponType"/>
		<result column="DISCOUNT" 	 property="discount"/>
		<result column="START_DATE"  property="startDate"/>
		<result column="END_DATE" 	 property="endDate"/>
		<result column="MAX_PRICE"   property="maxPrice"/>
		<result column="MIN_PRICE"   property="minPrice"/>
	</resultMap>
	
	<resultMap type="selectShipping" id="shippingResultSet">
		<result column ="receipt_no" property="receiptNo" />
		<result column ="member_name" property="memberName" />
		<result column ="receipt_date" property="receiptDate" />
		<result column ="amount" property="amount" />
		<result column ="product_title" property="productTitle" />
		<result column ="result_price" property="resultPrice" />
	</resultMap>
	
	<select id="memberListCount" resultType="_int">
		select
			   count(*)
		  from
		       member
	</select>
	
	<select id="memberList" resultMap="memberResultSet">
	select
	       member_no
	      ,member_name
	      ,nickname
	      ,phone
	      ,address
	      ,to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"       
	      ,decode(status,'Y','활동','N','탈퇴','B','블랙') "status"
	  from
	       member
	 order
	    by 
	       member_no 
	</select>
	
	<insert id="insertCoupon" parameterType="coupon">
		INSERT INTO COUPON
		VALUES
		(
		SEQ_CNO.nextval, 
		#{couponName}, 
		#{couponType},
		#{discount}, 
		TO_DATE(#{startDate}, 'YYYY-MM-DD HH24:mi'),
		TO_DATE(#{endDate}, 'YYYY-MM-DD HH24:mi'),
		#{maxPrice}, 
		#{maxPrice}
		)
		
	</insert>
	
	<select id="memberSearchCount" parameterType="map" resultType="_int">
		select
			   count(*)
		  from
		       member
		 where
		       <if test="searchType == 'memberName'">
	                member_name like '%' || #{keyword} || '%'
	            </if>
	            <if test="searchType == 'memberNo'">
	                member_no = #{keyword}
	            </if>
	            <if test="searchType == 'status'">
	                status = #{keyword}
	            </if>      
	</select>
	
	<select id="memberSearch" parameterType="map" resultMap="memberResultSet">
	  select
            member_no
		   ,member_name
		   ,nickname
		   ,phone
		   ,address
		   ,to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"       
		   ,decode(status,'Y','활동','N','탈퇴','B','블랙') "status"
        from
            member
        where
            <if test="searchType == 'memberName'">
                member_name like '%' || #{keyword} || '%'
            </if>
            <if test="searchType == 'memberNo'">
                member_no = #{keyword}
            </if>
            <if test="searchType == 'status'">
                status = #{keyword}
            </if>
	</select>
	<select id="adminCouponListCount" resultType="_int">
		select 
				count(*)
		  from 
		  		coupon
	</select>
	
	<select id="adminCouponList" resultMap="couponResultSet">
		SELECT 
		        COUPON_NO,
		        COUPON_NAME,
		        COUPON_TYPE,
		        DISCOUNT,
		        TO_CHAR(START_DATE, 'YYYY-MM-DD') START_DATE,
		        TO_CHAR(END_DATE, 'YYYY-MM-DD') END_DATE,
		        MAX_PRICE,
		        MIN_PRICE
		  FROM 
		        COUPON
		  ORDER
		    BY
		        START_DATE DESC
	</select>
	
	<select id="salesCheck" resultType="_int">

    SELECT SUM(RESULT_PRICE)
                          FROM (  SELECT
                        
                                        MEMBER_NO,
                                        CASE 
                                        WHEN PR.COUPON_NO !=0 AND C.COUPON_TYPE = 1
                                        THEN R.RESULT_PRICE - POINT - C.DISCOUNT
                                        WHEN PR.COUPON_NO !=0 AND C.COUPON_TYPE = 2
                                        THEN R.RESULT_PRICE * ((100-C.DISCOUNT)/100) - POINT
                                        ELSE  R.RESULT_PRICE - POINT
                                        END RESULT_PRICE ,
                                        PR.RECEIPT_NO
                                FROM VIEW_PRODUCT_RECEIPT PR
                                LEFT JOIN COUPON C ON(C.COUPON_NO = PR.COUPON_NO)
                                JOIN(VIEW_RESULT_PRICE) R ON (R.RECEIPT_NO = PR.RECEIPT_NO)
                                WHERE TO_CHAR(RECEIPT_DATE) BETWEEN TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE, 'MM'), -1))
                                    AND TO_CHAR(TRUNC (LAST_DAY( ADD_MONTHS(TRUNC(SYSDATE, 'MM'), -1))))
                                 )
	</select>
	
	<select id="salesCheck2" resultType="_int">
	 SELECT SUM(RESULT)
                 FROM (
                       SELECT 
                              MEMBER_NO,
                              RR.RESERVATION_NO,
                              RESERVATION_FEE,
                              
                              CASE 
                                      WHEN RR.COUPON_NO !=0 AND C.COUPON_TYPE = 1
                                      THEN RESERVATION_FEE - C.DISCOUNT - POINT 
                                      WHEN RR.COUPON_NO !=0 AND C.COUPON_TYPE = 2
                                      THEN  RESERVATION_FEE * ((100-C.DISCOUNT)/100) - POINT
                                      ELSE  RESERVATION_FEE - POINT
                                      END RESULT ,
                                      RR.POINT,
                                      RR.COUPON_NO
                        FROM
                              RESERVATION R 
                        JOIN (
                              VIEW_RESERVATION_RECEIPT) RR ON (RR.RESERVATION_NO = R.RESERVATION_NO)
                        LEFT JOIN COUPON C ON(C.COUPON_NO = RR.COUPON_NO)
                       WHERE TO_CHAR(RECEIPT_DATE) BETWEEN TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE, 'MM'), -1))
                                AND TO_CHAR(TRUNC (LAST_DAY( ADD_MONTHS(TRUNC(SYSDATE, 'MM'), -1)))))
	</select>
	
	<select id= "shippingListCount" resultType="_int">
		SELECT
		      COUNT(*)
	 	  FROM
		      MEMBER M
		      INNER JOIN PRODUCT_RECEIPT PR ON M."MEMBER_NO" = PR."MEMBER_NO"
		      INNER JOIN PRODUCT_BRIDGE PB ON PR."RECEIPT_NO" = PB."RECEIPT_NO"
		      INNER JOIN "PRODUCT" P ON PB."PRODUCT_NO" = P."PRODUCT_NO"
	</select>
	
	<select id= "shippingList" resultMap="shippingResultSet">
		 SELECT
			    PR."RECEIPT_NO",
			    M."MEMBER_NAME",
			    PR."RECEIPT_DATE",
			    PB."AMOUNT",
			    P."PRODUCT_TITLE",
                SH."SHIPPING_STATUS",
                R.RESULT_PRICE
			FROM
			    MEMBER M
			    INNER JOIN PRODUCT_RECEIPT PR ON M."MEMBER_NO" = PR."MEMBER_NO"
			    INNER JOIN PRODUCT_BRIDGE PB ON PR."RECEIPT_NO" = PB."RECEIPT_NO"
			    INNER JOIN "PRODUCT" P ON PB."PRODUCT_NO" = P."PRODUCT_NO"
                INNER JOIN SHIPPING SH ON PR."RECEIPT_NO" = SH."SHIPPING_NO"
                LEFT JOIN COUPON C ON(C.COUPON_NO = PR.COUPON_NO)
                JOIN VIEW_RESULT_PRICE R ON (R.RECEIPT_NO = PB.RECEIPT_NO)
           WHERE
                SH."SHIPPING_STATUS" = '상품준비중'
	</select>
	
	<select id="shippingRelease" parameterType="_int">
		UPDATE
		 	   SHIPPING
		   SET
		       SHIPPING_STATUS = '배송중',
		       SHIPPING_DATE = SYSDATE
		 WHERE
	           SHIPPING_NO = #{receiptNo}       
	</select>
	
	<select id="bringKey" resultType="string">
		SELECT KEY
  		  FROM CHAT_GPT_API
	</select>
	
	
	
	
	
	
	
	
	
</mapper>