<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="boardMapper">

	<select id="countBoard" resultType="_int" parameterType="string">
		SELECT
		       COUNT(*)
		  FROM
		  	   BOARD
		<choose>
			<when test="category == club">
				WHERE
				      CATEGORY = 'club'
			</when>
			<when test="category == boast">
				WHERE
					  CATEGORY = 'boast'
			</when>
			<otherwise>
			
			</otherwise>
		</choose>
		   AND
		   	   STATUS = 'Y'
	</select>
	
	<select id="selectBoard" resultType="board" parameterType="string">
		
		select *
	 	  from (SELECT
					   BOARD_TITLE boardTitle
					   ,NICKNAME nickName
					   ,NVL((SELECT COUNT(*)
		                       FROM REPLY
		                      WHERE BOARD_NO = B.BOARD_NO
		                        AND STATUS = 'Y' GROUP BY B.BOARD_NO), 0) AS "boardCount"
					   ,ORIGIN_NAME originName
					   ,CHANGE_NAME changeName
					   ,FILE_PATH filePath
					   ,CREATE_DATE createDate
			   	  FROM
			   	  	   BOARD B
		   	 LEFT JOIN
			   	  	   MEMBER USING(MEMBER_NO)
		   	 LEFT JOIN 
			   	  	   REPLY USING(BOARD_NO)
			   	  <choose>
			   	  	<when test="'category' == club">
			   	  		WHERE
			   	  			  CATEGORY = 'CLUB'
			   	  		  AND 
			   	  	    	  STATUS = 'Y'
			   	  	</when>
			   	  	<when test="'category' == boast">
			   	  		WHERE
			   	  			  CATEGORY = 'BOAST'
			   	  		  AND 
			   	  	    	  STATUS = 'Y'
			   	  	</when>
			   	  	<otherwise>
			   	  	   WHERE
			   	  	   	     STATUS = 'Y'
			   	  	</otherwise>
			   	  </choose>
			   	 ORDER
			   	 	BY
			   	 	   CREATE_DATE DESC)
		where
	 		  rownum between 1 and 5
			  
	</select>
	
</mapper>