<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="boardMapper">

	<select id="countBoard" resultType="_int" parameterType="hashmap">
		SELECT
		       NVL(COUNT(*), 0)
		  FROM
		  	   BOARD B
		  JOIN
		  	   MEMBER USING(MEMBER_NO)
		<choose>
			<when test="category.equals('CLUB')">
				WHERE
				      CATEGORY = 'CLUB'
			      AND
	   	   			  B.STATUS = 'Y'
			</when>
			<when test="category.equals('BOAST')">
				WHERE
					  CATEGORY = 'BOAST'
				  AND
		   	   		  B.STATUS = 'Y'
			</when>
			<otherwise>
				WHERE
		   	   		  B.STATUS = 'Y'
			</otherwise>
		</choose>
		<choose>
			<when test="condition.equals('writer') and(!keyword.equals(''))">
				AND
					NICKNAME LIKE '%' || #{keyword} || '%'
			</when>
			<when test="condition.equals('title') and(!keyword.equals(''))">
				AND
					BOARD_TITLE LIKE '%' || #{keyword} || '%'
			</when>
			<when test="condition.equals('content') and(!keyword.equals(''))">
				AND
					BOARD_CONTENT LIKE '%' || #{keyword} || '%'
			</when>
			<otherwise>
				
			</otherwise>
		</choose>
	</select>

	 <select id="selectBoard" resultType="board" parameterType="hashmap">
	 	SELECT
	  			BOARD_NO boardNo
			   ,BOARD_TITLE boardTitle
			   ,CATEGORY category
			   ,M.NICKNAME nickName
			   ,BOARD_COUNT boardCount
			   ,(SELECT COUNT(*)
	                      FROM REPLY R
	                     WHERE R.BOARD_NO = B.BOARD_NO
	                       AND B.STATUS = 'Y') AS "REPLYCOUNT"
			   ,B.CREATE_DATE createDate
   	  	  FROM
   	  	  		BOARD B
  	 	  JOIN
   	  	   		MEMBER M USING(MEMBER_NO)
   	  <choose>
   	  	<when test="category.equals('CLUB')">
   	  		WHERE
   	  			  B.CATEGORY = 'CLUB'
   	  		  AND 
   	  	    	  B.STATUS = 'Y'
   	  	</when>
   	  	<when test="category.equals('BOAST')">
   	  		WHERE
   	  			  B.CATEGORY = 'BOAST'
   	  		  AND 
   	  	    	  B.STATUS = 'Y'
   	  	</when>
   	  	<otherwise>
   	  	   WHERE
   	  	   	     B.STATUS = 'Y'
   	  	</otherwise>
   	  </choose>
 	  <choose>
		<when test="condition.equals('writer') and(!keyword.equals(''))">
			AND
				M.NICKNAME LIKE '%' || #{keyword} || '%'
		</when>
		<when test="condition.equals('title') and(!keyword.equals(''))">
			AND
				BOARD_TITLE LIKE '%' || #{keyword} || '%'
		</when>
		<when test="condition.equals('content') and(!keyword.equals(''))">
			AND
				BOARD_CONTENT LIKE '%' || #{keyword} || '%'
		</when>
		<otherwise>
			
		</otherwise>
	  </choose>
   	  <choose>
   	  	<when test="filter.equals('COUNT')">
	   	 ORDER
	   	 	BY
	   	 	   B.BOARD_COUNT DESC   	  	
   	  	</when>
   	  	<when test="filter.equals('REPLY')">
	   	 ORDER
	   	 	BY
	   	 	   REPLYCOUNT DESC   	  	
   	  	</when>
	   	<otherwise>
	   	 ORDER
	   	 	BY
	   	 	   B.CREATE_DATE DESC
	   	</otherwise>
   	  </choose>
	 </select>
	 
	 <update id="increaseCount" parameterType="_int">
	 	update 
	 	  	   board
	 	   set
	 	       BOARD_COUNT = BOARD_COUNT + 1
	 	 where
	 	       BOARD_NO = #{boardNo}
	 </update>
	 
	 <select id="selectDetailBoard" resultType="board">
	 	select 
	 		   B.BOARD_TITLE boardTitle
	 		   ,B.BOARD_NO boardNo
	 		   ,NICKNAME nickName
	 		   ,B.CREATE_DATE createDate
	 		   ,ORIGIN_NAME originName
	 		   ,CHANGE_NAME changeName
	 		   ,FILE_PATH filePath
	 		   ,B.BOARD_CONTENT boardContent
	 	  FROM 
	 	       BOARD B
	      JOIN
	           MEMBER M USING(MEMBER_NO)
	 LEFT JOIN
	      	   ATTACHMENT ON(BOARD_NO = REF_NO)
	     WHERE
	           B.BOARD_NO = #{boardNo}
	       AND
	           B.STATUS = 'Y'	 	 		   	
	 </select>
	 
	 <insert id="insertBoard1" parameterType="board">
	 	insert
	 	  into
	 	  	   board
	 	  	   (
	 	  	   board_no
	 	  	   ,member_no
	 	  	   ,board_title
	 	  	   ,board_content
	 	  	   ,category
	 	  	   )
	 	values
	 		   (
	 		   seq_bod_no.nextval
	 		   ,#{memberNo}
	 		   ,#{boardTitle}
	 		   ,#{boardContent}
	 		   ,#{category}
	 		   )
	 </insert>
	 
	 <insert id="insertBoard2" parameterType="board">
	 	insert
	 	  into
	 	       attachment
	 	       (
	 	       file_no
	 	       ,file_category
	 	       ,ref_no
	 	       ,file_level
	 	       ,origin_name
	 	       ,change_name
	 	       ,file_path
	 	       ,file_status
	 	       )
	 	values
	 		   (
	 		   seq_fno.nextval
	 		   ,3
	 		   ,seq_bod_no.currval
	 		   ,1
	 		   ,#{originName}
	 		   ,#{changeName}
	 		   ,#{filePath}
	 		   ,'Y'
	 		   )
	 </insert>
	 
	 <update id="deleteBoard" parameterType="_int">
	 	update
	 			board
	 	set
	 			status = 'N'
	 	where
	 			board_no = #{boardNo}
	 </update>
	 
	 <update id="updateBoard1" parameterType="board">
	 	update
	 		   board
	 	   set 
	 	   	   board_title = #{boardTitle}
	 	   	   ,board_content = #{boardContent}
	 	 where
	 	 	   board_no = #{boardNo} 
	 </update>
	 
	 <update  id="updateBoard2" parameterType="board">
	 	update
	 		   Attachment
	 	   set
	 	   	   origin_name = #{originName}
	 	   	   ,change_name = #{changeName}
	 	 where
	 	 	   ref_no = #{boardNo}
	 	   and
	 	       file_category = 3	   
	 </update>
	 
	 <insert id="updateBoard3" parameterType="board">
	 	insert
	 	  into
	 	       attachment
	 	       (
	 	       file_no
	 	       ,file_category
	 	       ,ref_no
	 	       ,file_level
	 	       ,origin_name
	 	       ,change_name
	 	       ,file_path
	 	       ,file_status
	 	       )
	 	values
	 		   (
	 		   seq_fno.nextval
	 		   ,3
	 		   ,#{boardNo}
	 		   ,1
	 		   ,#{originName}
	 		   ,#{changeName}
	 		   ,#{filePath}
	 		   ,'Y'
	 		   )
	 </insert>
	 
	 <select id="selectReply" resultType="reply" parameterType="reply">
	 	select
	 		   reply_no replyNo
	 		   ,r.nickname nickname
	 		   ,reply_content replyContent
	 		   ,create_date createDate
	 	  from
	 	       reply r
	 	  join
	 	  	   member m using(member_no)     
	 	 where
	 	  	   r.board_no = #{boardNo}
	 	   and
			   m.status = 'Y'
		 order
		 	by
		 	   create_date desc	 		   
	 </select>
	 
	 <insert id="insertReply" parameterType="reply">
	 	insert
	 	  into
	 	  	   reply
	 	  	   (
	 	  	   reply_no
	 	  	   ,board_no
	 	  	   ,member_no
	 	  	   ,nickname
	 	  	   ,reply_content
	 	  	   )
	 	values
	 	 	   (
	 	 	   seq_rep_no.nextval
	 	 	   ,#{boardNo}
	 	 	   ,#{memberNo}
	 	 	   ,#{nickname}
	 	 	   ,#{replyContent}
	 	 	   )
	 </insert>
	 
</mapper>