<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="boardMapper">

	<select id="countBoard" resultType="_int" parameterType="string">
		SELECT
		       COUNT(*)
		  FROM
		  	   BOARD
		<choose>
			<when test="category.equals('CLUB')">
				WHERE
				      CATEGORY = 'CLUB'
			      AND
	   	   			  STATUS = 'Y'
			</when>
			<when test="category.equals('BOAST')">
				WHERE
					  CATEGORY = 'BOAST'
				  AND
		   	   		  STATUS = 'Y'
			</when>
			<otherwise>
				WHERE
		   	   		  STATUS = 'Y'
			</otherwise>
		</choose>
	</select>
	
	<select id="selectBoard" resultType="board" parameterType="string">
		
		select *
	 	  from (SELECT
	 	  			   BOARD_NO boardNo
					   ,BOARD_TITLE boardTitle
					   ,M.NICKNAME nickName
					   ,BOARD_COUNT boardCount
					   ,(SELECT COUNT(*)
		                       FROM REPLY R
		                      WHERE R.BOARD_NO = B.BOARD_NO
		                        AND B.STATUS = 'Y') AS "REPLYCOUNT"
					   ,B.CREATE_DATE createDate
			   	  FROM
			   	  	   BOARD B
		   	 	  JOIN
			   	  	   MEMBER M USING(MEMBER_NO)
			   	  <choose>
			   	  	<when test="category.equals('CLUB')">
			   	  		WHERE
			   	  			  B.CATEGORY = 'CLUB'
			   	  		  AND 
			   	  	    	  B.STATUS = 'Y'
			   	  	</when>
			   	  	<when test="category.equals('BOAST')">
			   	  		WHERE
			   	  			  B.CATEGORY = 'BOAST'
			   	  		  AND 
			   	  	    	  B.STATUS = 'Y'
			   	  	</when>
			   	  	<otherwise>
			   	  	   WHERE
			   	  	   	     B.STATUS = 'Y'
			   	  	</otherwise>
			   	  </choose>
			   	 ORDER
			   	 	BY
			   	 	   B.CREATE_DATE DESC)
		where
	 		  rownum between 1 and 5
	</select>
	
</mapper>