<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="myPageMapper">

	<resultMap id="boardResultSet" type="board">
		<result column="board_no" 		property="boardNo" />
		<result column="board_title" 	property="boardTitle" />
		<result column="board_content" 	property="boardContent" />
		<result column="create_date" 	property="createDate" />
		<result column="modify_date" 	property="modifyDate" />
		<result column="status" 	property="status" />
		<result column="category" 	property="category" />
		<result column="board_like" 	property="boardLike" />
		<result column="member_no" 	property="memberNo" />
		
	</resultMap>
	
	
	
	<select id="myBoardList" parameterType="_int" resultMap="boardResultSet">
		select
		       board_title,
		       board_content,
		       create_date,
		       category
		  from 
		       board b
		  join
		       member m on(m.member_no = b.member_no)
		 where 
		       m.member_no = #{ memberNo }
		   and
		       b.status = 'Y'
	</select>
	
	

</mapper>