<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="myPageMapper">

	<resultMap id="boardResultSet" type="board">
		<result column="board_no" 		property="boardNo" />
		<result column="board_title" 	property="boardTitle" />
		<result column="board_content" 	property="boardContent" />
		<result column="create_date" 	property="createDate" />
		<result column="modify_date" 	property="modifyDate" />
		<result column="status" 	property="status" />
		<result column="category" 	property="category" />
		<result column="board_like" 	property="boardLike" />
		<result column="member_no" 	property="memberNo" />
	</resultMap>
	
	<resultMap id="petResultSet" type="pet">
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="GENDER" property="gender"/>
		<result column="SPECIES" property="species"/>
		<result column="PET_NAME" property="petName"/>
		<result column="AGE" property="age"/>
		<result column="WEIGHT" property="weight"/>
	</resultMap>
	
	
	
	<select id="myBoardList" parameterType="_int" resultMap="boardResultSet">
		select
		       board_title,
		       board_content,
		       create_date,
		       category
		  from 
		       board b
		  join
		       member m on(m.member_no = b.member_no)
		 where 
		       m.member_no = #{ memberNo }
		   and
		       b.status = 'Y'
	</select>
	
	
	<select id="selectPet" parameterType="int" resultMap="petResultSet">
		SELECT
				MEMBER_NO,
				GENDER,
				SPECIES,
				PET_NAME,
				AGE,
				WEIGHT
		  FROM
		  		PET
		 WHERE
		 		MEMBER_NO = #{memberNo}
	</select>
	
	

</mapper>