<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="productMapper">
	
	<resultMap type="product" id="productResultSet">
		<result column="product_no" property="productNo" />
		<result column="product_status" property="productStatus" />
		<result column="product_title" property="productTitle" />
		<result column="product_price" property="productPrice" />
		<result column="product_date" property="productDate" />
		<result column="category_name" property="categoryName" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="file_path" property="filePath" />
	</resultMap>
	
	<resultMap type="att" id="attResultSet">
		<result column="file_no" property="fileNo" />
		<result column="file_category" property="fileCategory" />
		<result column="ref_no" property="refNo" />
		<result column="file_level" property="fileLevel" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="file_path" property="filePath" />
		<result column="file_status" property="fileStatus" />
	</resultMap>
	
	<select id="selectProductList" resultMap="productResultSet">
		select 
		       product_no, 
		       product_status, 
		       product_title, 
		       product_price, 
		       product_date, 
		       category_name,
               origin_name,
               change_name,
               file_path
		  from 
		       product 
     left join 
               attachment on(product_no = ref_no)
		 where 
		       file_category = 1 
		   and 
		       file_level = 0 
         order 
            by 
               product_date desc
	</select>
	
	<!-- 상품 상세 insert문 -->
	<insert id="insertProduct" parameterType="product">
		insert 
		  into 
		       product
		              (
		               product_no, 
		               product_title, 
		               product_price,
		               category_name
		               ) 
		         values
		               (
		               SEQ_PRODUCT_NO.NEXTVAL,
		               #{productTitle},
		               #{productPrice},
		               #{categoryName}
		               )
	</insert>
	<!-- 상품 이미지 insert문 -->
	<insert id="insertThumbnailImgProduct" parameterType="att">
		insert 
		  into 
		       Attachment 
		              (
		               file_no, 
		               file_category,
		               ref_no,
		               file_level,
		               origin_name,
		               change_name,
		               file_path
		               ) 
		         values
		               (
		               SEQ_FNO.NEXTVAL,
		               1,
		               SEQ_PRODUCT_NO.CURRVAL,
		               0,
		               #{originName},
		               #{changeName},
		               #{filePath}
		               )
	</insert>
	
	<insert id="insertDetailImgProduct" parameterType="att">
		insert 
		  into 
		       Attachment 
		              (
		               file_no, 
		               file_category,
		               ref_no,
		               file_level,
		               origin_name,
		               change_name,
		               file_path
		               ) 
		         values
		               (
		               SEQ_FNO.NEXTVAL,
		               1,
		               SEQ_PRODUCT_NO.CURRVAL,
		               1,
		               #{originName},
		               #{changeName},
		               #{filePath}
		               )
	</insert>
	
	<select id="selectDetail" parameterType="_int" resultMap="productResultSet">
		select 
		       product_title, 
			   product_price, 
			   product_date, 
			   category_name,
			   origin_name,
			   change_name,
			   file_path
		  from 
		       product 
	 left join 
	           attachment on(product_no = ref_no)
		 where 
		       product_status = 'Y' 
		   and 
		       product_no = #{bno} 
		   and 
		       file_category = 1 
		   and 
		       file_level = 0
	</select>
	
	<select id="selectDetailPage" parameterType="_int" resultMap="productResultSet">
		select 
		       product_title, 
			   product_price, 
			   product_date, 
			   category_name,
			   origin_name,
			   change_name,
			   file_path
		  from 
		       product 
	 left join 
	           attachment on(product_no = ref_no)
		 where 
		       product_status = 'Y' 
		   and 
		       product_no = #{bno} 
		   and 
		       file_category = 1 
		   and 
		       file_level = 1
	</select>
</mapper>