<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="productMapper">
	
	<resultMap type="product" id="productResultSet">
		<result column="product_no" property="productNo" />
		<result column="product_status" property="productStatus" />
		<result column="product_title" property="productTitle" />
		<result column="product_price" property="productPrice" />
		<result column="product_date" property="productDate" />
		<result column="category_name" property="categoryName" />
	</resultMap>
	
	<select id="selectProductList" resultMap="productResultSet">
		select 
		       product_no, 
		       product_status, 
		       product_title, 
		       product_price, 
		       product_date, 
		       category_name 
		  from 
		       product 
		 where 
		       product_status = 'Y'
	</select>
	
	<insert id="insertProduct" parameterType="product">
		
		insert 
		  into 
		       product
		              (
		               product_no, 
		               product_title, 
		               product_price,
		               category_name
		               ) 
		               values
		               (
		               SEQ_PRODUCT_NO.NEXTVAL,
		               #{productTitle},
		               #{productPrice},
		               #{categoryName}
		               )
	</insert>
</mapper>