<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="reservationMapper">

	<resultMap type="employee" id="employeeResulSet">
		<result column="EMPLOYEE_NO" property="employeeNo"/>
		<result column="PET_STORE" property="petStore"/>
		<result column="EMPLOYEE_NAME" property="employeeName"/>
		<result column="EMPLOYEE_INFO" property="employeeInfo"/>
		<result column="CLOSED_DAY" property="closedDay"/>
	</resultMap>
	
	<resultMap type="reservation" id="reservationResultSet">
		<result column="RESERVATION_NO" property="reservationNo"/>
		<result column="PET_STORE" property="petStoreNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="CHECK_IN" property="checkIn"/>
		<result column="CHECK_OUT" property="checkOut"/>
		<result column="RESERVATION_TIME" property="reservationTime"/>
		<result column="RESERVATION_FEE" property="reservationFee"/>
		<result column="EMPLOYEE" property="employeeNo"/>
	</resultMap>
	
	<select id="selectUsageFee" parameterType="_int" resultType="_int">
		SELECT 
				USAGE_FEE
		FROM PET_STORE
		WHERE PET_STORE_NO = #{psno}
	</select>

	<select id="selectEmployeeList" parameterType="_int" resultMap="employeeResulSet">
		SELECT 
				EMPLOYEE_NO,
				PET_STORE,
				EMPLOYEE_NAME,
				EMPLOYEE_INFO,
				CLOSED_DAY
		FROM EMPLOYEE
		WHERE PET_STORE = #{psno}
	</select>
	
	<select id="selectEmployeeReservation" parameterType="reservation" resultType="string">
		SELECT RESERVATION_TIME
		FROM RESERVATION 
		WHERE EMPLOYEE = #{employeeNo}
		AND CHECK_IN = #{checkIn}
	</select>
	
	<insert id="insertReservation" parameterType="reservation">
		INSERT 
		  INTO
				RESERVATION
		VALUES 
				(
					SEQ_RNO.NEXTVAL,
					#{petStoreNo},
					#{memberNo},
					#{checkIn},
					NULL,
					#{reservationTime},
					#{employeeNo},
					#{reservationName},
					#{reservationPhone},
					#{reservationFee}
				)
	</insert>
	
	<insert id="insertReservationReceipt" parameterType="reservation">
		INSERT
		 INTO
		 		RESERVATION_RECEIPT
		VALUES
				(
				SEQ_RNO.CURRVAL,
				SYSDATE,
				#{couponNo},
				#{point},
				'Y'
				)
	
	</insert>
	
	<insert id="insertMinusPetPay" parameterType="reservation">
		INSERT INTO
		PETPAY
		VALUES (
				SEQ_PETPAY_NO.NEXTVAL,
				- #{finalTotalFee},
				SYSDATE,
				'M',
				#{memberNo}
				)
	</insert>
	
	<!-- 결제 시 포인트 차감에 사용되는 insert문 -->
	<insert id="insertMinusPoint" parameterType="reservation">
		INSERT INTO
		POINT
		VALUES (
				SEQ_POINT_NO.NEXTVAL,
				- #{point},
				'PETPAY',
				SYSDATE,
				'P',
				#{memberNo}
				)
	</insert>
	
	<!-- 결제시 쿠폰 상태 update -->
	<update id="updateCouponStatus" parameterType="reservation">
		UPDATE
		MEMBER_COUPON
		SET MEMBER_COUPON_STATUS = 'U'
		WHERE MEMBER_NO = #{memberNo} 
	</update>
	<!--  -->
	
	<insert id="insertPlusPoint" parameterType="reservation">
		INSERT INTO
		POINT
		VALUES (
					SEQ_POINT_NO.NEXTVAL,
					#{finalTotalFee} * 0.05,
					'PETPAY',
					SYSDATE,
					'P',
					#{memberNo}
				)
	</insert>
	
	<select id="selectCompleteReservation" resultMap="reservationResultSet">
		SELECT 	RESERVATION_NO
		FROM RESERVATION
		WHERE RESERVATION_NO = SEQ_POINT_NO.CURRVAL
	</select>
	
	
	
	



</mapper>