<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<!-- type="경로(주소값)" alias="별칭" -->
		<typeAlias type="com.kh.petopia.admin.model.vo.Admin" alias="admin"/> 
		<typeAlias type="com.kh.petopia.admin.model.vo.Coupon" alias="coupon"/> 
		<typeAlias type="com.kh.petopia.member.model.vo.Member" alias="member"/> 
		<typeAlias type="com.kh.petopia.member.model.vo.CertVO" alias="certVo"/> 
		<typeAlias type="com.kh.petopia.board.model.vo.Board" alias="board"/> 
		<typeAlias type="com.kh.petopia.member.model.vo.Pet" alias="pet"/> 
		<typeAlias type="com.kh.petopia.common.model.vo.Attachment" alias="att"/> 
		<typeAlias type="com.kh.petopia.myPage.model.vo.MyPage" alias="myPage"/>
		<typeAlias type="com.kh.petopia.product.model.vo.Product" alias="product"/> 
		<typeAlias type="com.kh.petopia.petStore.model.vo.PetStore" alias="petStore"/>
		<typeAlias type="com.kh.petopia.petStore.model.vo.PetStoreReview" alias="petStoreReview"/>
		<typeAlias type="com.kh.petopia.reservation.model.vo.Reservation" alias="reservation"/>
		<typeAlias type="com.kh.petopia.reservation.model.vo.Employee" alias="employee"/>
		<typeAlias type="com.kh.petopia.board.model.vo.Reply" alias="reply"/>
		<typeAlias type="com.kh.petopia.myPage.model.vo.Alram" alias="alram"/>
		<typeAlias type="com.kh.petopia.product.model.vo.ProductReceipt" alias="productReceipt"/>
		<typeAlias type="com.kh.petopia.myPage.model.vo.Point" alias="point"/>
		<typeAlias type="com.kh.petopia.myPage.model.vo.Petpay" alias="petpay"/>
		<typeAlias type="com.kh.petopia.myPage.model.vo.AllReviews" alias="allReviews"/>

	</typeAliases>
	
	<mappers> <!-- resource="매퍼의 경로" -->
		<mapper resource="/mappers/admin-mapper.xml" />
		<mapper resource="/mappers/board-mapper.xml" />
		<mapper resource="/mappers/myPage-mapper.xml" />
		<mapper resource="/mappers/product-mapper.xml" />
		<mapper resource="/mappers/petStore-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/reservation-mapper.xml"/>
	</mappers>
</configuration>